# Let's ignore here files produced by the project tools only.
# You can ignore other files, that are not related to the project in the global gitignore:
#
# ```sh
# git config --global core.excludesFile '~/.gitignore'
# echo .os-specific-file >> ~/.gitignore
# ```
target/
tarpaulin-report.html
