.qui-toolbar {
  box-shadow: var(--q-ui-shadows-appbar);
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
  height: var(--q-ui-size-8);
  background: var(--q-ui-palette-background-primary);

  .container {
    align-items: center;
    box-sizing: border-box;
    display: flex;
    flex-grow: 1;
    margin: auto;
    max-width: var(--q-ui-container-size);
    padding: 0 var(--q-ui-size-4);
    position: relative;
    width: 100%;
  }

  .actions {
    align-items: center;
    display: flex;
    flex-shrink: 0;
    margin-left: auto;
  }

  .secondary-actions {
    column-gap: 8px;
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
  }
}
