<style>
  @import url("/assets/css/views/entry.css");
</style>

<div class="qui-entry {{+ get_class_name_modificators() }}">
  {% if let Some(checkbox) = checkbox %}
    <label class="avatar">
      <input
        class="js-entries-checkbox"
        name="path"
        type="checkbox"
        value="{{ filename.display() }}"
        {%+ if checkbox.disabled %} disabled {% endif +%}
        {%+ if checkbox.checked %} checked {% endif +%}
      />
    </label>
  {% endif %}

  <div class="text">
    <p
      class="text-primary"
      title="{{ filename.display() }}"
      data-testid="entry-name"
    >
      {{ filename.display() }}
    </p>
    <p class="text-secondary">{{ display_status() }}, {{+ display_size() }}</p>
  </div>

  <div class="menu">
    <ul class="menu-list">
      {% for action in actions %}
        <li class="menu-item">{{ action | safe }}</li>
      {% endfor %}
    </ul>
  </div>
</div>
