<style>
  @import url("/assets/css/views/layout.css");

  @import url("/assets/css/views/actionbar.css");
  @import url("/assets/css/views/appbar.css");
  @import url("/assets/css/views/uri.css");
  @import url("/assets/css/views/logo.css");
  @import url("/assets/css/components/button.css");
  @import url("/assets/css/views/notify.css");
  @import url("/assets/css/views/popup.css");
  @import url("/assets/css/views/toolbar.css");
</style>

<div class="qui-layout" id="layout">
  <div class="qui-appbar layout-appbar">
    <div class="container">
      <a class="qui-logo" href="/">
        <img class="img" src="/assets/img/quilt.png" />
      </a>
      {{ layout.uri | safe }}
      <div class="nav">
        {{ layout.refresh_button | safe }}
        {{ layout.settings_button | safe }}
      </div>
    </div>
  </div>

  <div class="layout-toolbar qui-toolbar">
    <div class="container">
      {% if let Some(breadcrumbs) = layout.breadcrumbs %}
        {{ breadcrumbs | safe }}
      {% endif %}

      {% if let Some(secondary_actions) = layout.secondary_actions %}
        <div class="actions">
          <ul class="secondary-actions">
            {% for action in secondary_actions %}
              <li>{{ action | safe }}</li>
            {% endfor %}
          </ul>
        </div>
      {% endif %}
    </div>

    <div class="qui-notify">
      <div id="notify" class="root" onclick="var el = this; el.innerHTML = '';"></div>
    </div>

    <div class="qui-popup">
      <div id="popup" class="root"></div>
    </div>
  </div>

  {% block progress %}
    {% include "./components/progress.html" %}
  {% endblock %}

  {% block children %} {% endblock %}

  {% if let Some(primary_action) = layout.primary_action %}
    <div class="qui-actionbar">{{ primary_action | safe }}</div>
  {% endif %}


</div>
