@keyframes notify-slide {
  0% {
    opacity: 0.7;
    transform: translateY(-16px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.qui-notify {
  box-sizing: border-box;
  margin: auto;
  max-width: var(--q-ui-container-size);
  padding: 0 var(--q-ui-size-2);
  position: absolute;
  left: 0;
  top: var(--q-ui-size-10);
  right: 0;

  .root {
    animation: 0.15s ease-out notify-slide;
    background: #fff;
    box-shadow: var(--q-ui-shadows-popup);
    margin: auto;
    width: fit-content;
    min-width: 30%;
    max-width: 50%;
    padding: var(--q-ui-size-2);
    z-index: 1;
  }

  .root:empty {
    display: none;
  }

  .error {
    color: var(--q-ui-palette-error);
  }

  .success {
    color: var(--q-ui-palette-success);
  }

  .update-bar {
    align-items: center;
    display: flex;
    gap: var(--q-ui-size-8);
    justify-content: space-between;
  }

  .update-bar--actions {
    display: flex;
    flex-shrink: 0;
    gap: var(--q-ui-size-2);
  }
}
