.qui-page-login {
  &.container {
    box-sizing: border-box;
    flex-grow: 1;
    margin: auto;
    max-width: var(--q-ui-container-size);
    padding: var(--q-ui-size-4);
    width: 100%;
  }

  .main {
    margin: auto;
    max-width: 640px;
  }

  .message {
    font-size: 1rem;
    margin: 0 0 24px;
    text-align: center;
  }
}
