.qui-debug-toolbar {
  position: fixed;
  bottom: var(--q-ui-size-1);
  right: var(--q-ui-size-1);
  z-index: var(--q-ui-z-index-version);
  color: var(--q-ui-palette-text-primary);
  cursor: help;

  .qui-button {
    min-width: auto;
    opacity: 0.3;
    padding: var(--q-ui-size-1);
    transition: var(--q-ui-transition-duration-normal) var(--q-ui-transition-type-normal) opacity;
  }

  .qui-page-error ~ & .qui-button {
    opacity:1;
  }

  &:hover .qui-button {
    opacity: 1;
  }

  .qui-icon {
    transition: var(--q-ui-transition-duration-normal) var(--q-ui-transition-type-normal) transform;
  }

  &:hover .qui-icon {
    transform: rotate(90deg);
  }

  .popover-wrapper {
    bottom: 0;
    display: none;
    padding-bottom: var(--q-ui-size-6);
    position: absolute;
    right: 0;
  }

  .qui-page-error ~ & .popover-wrapper {
    display: flex;
    padding-bottom: 0;
  }

  &:hover .popover-wrapper {
    display: flex;
  }

  .popover {
    animation: popover-enter var(--q-ui-transition-duration-normal) var(--q-ui-transition-type-normal) forwards;
    background: var(--q-ui-palette-background-primary);
    border-radius: var(--q-ui-border-radius);
    box-shadow: var(--q-ui-shadows-popup);
    cursor: default;
    flex-direction: column;
    font-size: var(--q-ui-font-size-small);
    gap: var(--q-ui-size-2);
    opacity: 0.7;
    padding: var(--q-ui-size-1);
    transform: translateY(var(--q-ui-size-2));
  }


  dl {
    align-items: center;
    display: flex;
    gap: var(--q-ui-size-1);
    justify-content: space-between;
    margin: 0;
    white-space: nowrap;
  }

  dt {
    font-weight: 500;
    margin: 0;
  }

  dd {
    align-items: center;
    color: var(--q-ui-palette-text-secondary);
    display: inline-flex;
    margin: 0 0 0 var(--q-ui-size-4);
  }

  .divider {
    margin-right: var(--q-ui-size-0-5);
  }

  dd .qui-button.link {
    font-size: inherit;
    min-height: auto;
    padding: 0;
  }
}

@keyframes popover-enter {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

