{% extends "./components/layout.html" %}

{% block children %}
  <style>
    @import url("/assets/css/pages/commit.css");
    @import url("/assets/css/components/entries-filter.css");
  </style>

  <div class="qui-page-commit container container-wide">
    <div class="main">
      <form id="form" class="form" onsubmit="event.preventDefault();">
        {{ workflow | safe }}

        <p class="field">
          <label class="label" for="namespace"
            >{{ t!("commit.namespace") }}</label
          >
          <input
            class="input"
            id="namespace"
            name="namespace"
            value="{{uri.namespace}}"
            readonly
          />
        </p>

        <p class="field">
          <label class="label" for="message">{{ t!("commit.message") }}</label>
          <input
            autofocus
            class="input"
            id="message"
            name="message"
            value="{{ message.value }}"
            required
          />
          {% if let Some(err) = message.error %}
            <span class="error">{{ err }}</span>
          {% endif %}
        </p>

        <p class="field">
          <label class="label" for="metadata">{{ t!("commit.metadata") }}</label>
          <textarea
            class="textarea"
            id="metadata"
            name="metadata"
            placeholder="{ \"key\": \"value\" }"
          >{{ user_meta.value }}</textarea>
          {% if let Some(err) = user_meta.error %}
            <span class="error">{{ err }}</span>
          {% endif %}
        </p>
        <div class="js-metadata metadata"></div>

      </form>
    </div>

    <div class="files">
      <div class="list entries-hide-unmodified entries-hide-ignored">
        <div>
          {% if ignored_count > 0 || unmodified_count > 0 %}
          <div class="qui-entries-filter"
            data-default-unmodified=""
            data-default-ignored="">
            <span>Show</span>
            <label>
              <input type="checkbox" class="js-filter-unmodified" />
              unmodified
              <span class="js-filter-count">({{ unmodified_count }})</span>
            </label>
            <label>
              <input type="checkbox" class="js-filter-ignored" />
              ignored
              <span class="js-filter-count">({{ ignored_count }})</span>
            </label>
          </div>
          <div class="list-separator"></div>
          {% endif %}

          {% for entries_list in entries %}
            {% for entry in entries_list %}
              {{ entry | safe }}
            {% endfor %}

            {% if entries.len() > 1 %}
              <div class="list-separator"></div>
            {% endif %}
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
{% endblock %}
