{% extends "./components/layout.html" %}

{% block children %} 
  <style>
    @import url("/assets/css/pages/error.css");
  </style>

  <div class="qui-page-error container">
    <h1 class="title">{{ title }}</h1>

    <p class="message" data-testid="error-msg">
      {{ err | safe }}
    </p>

    <div class="button-group">
      {{ reload | safe }}
      {{ dot_quilt | safe }}
      {% if let Some(login) = login %}
        {{ login | safe }}
      {% endif %}
      {{ home | safe }}
    </div>
  </div>
{% endblock %}
