{% extends "./components/layout.html" %}

{% block children %} 
  <style>
    @import url("/assets/css/pages/installed-packages-list.css");
  </style>

  <div class="qui-page-installed-packages-list">
    {% if list.is_empty() %}
      <section class="empty">
        <h1 class="empty-title">{{ t!("installed_packages_list_empty.title") }}</h1>
        <p class="empty-title">{{ t!("installed_packages_list_empty.description") }}</p>
        <img class="empty-img" src="/assets/img/how-to-deep-link.png" />
      </section>
    {% else %}
      <ul class="list">
        {% for item in list %}
          {{ item | safe }}
        {% endfor %}
      </ul>
    {% endif %}
  </div>
{% endblock %}
