{% extends "./components/layout.html" %}

{% block children %} 
  <style>
    @import url("/assets/css/pages/installed-package.css");
  </style>

  <div class="qui-page-installed-package">
    <div class="container">
      {% if let Some(status) = status %}
        {{ status | safe }}
      {% endif %}

      <form class="js-paths-install form" data-testid="installed-package-entries">
        <input name="uri" hidden value="{{uri.to_string()}}" />

        {% if let Some(toolbar) = toolbar %}
          {{ toolbar | safe }}
        {% endif %}

        <div class="list">
          {% for entry in entries %}
            {{ entry | safe}}
          {% endfor %}
        </div>
      </form>
    </div>
  </div>
{% endblock %}
