{% extends "./components/layout.html" %}

{% block children %}
  <style>
    @import url("/assets/css/pages/installed-package.css");
    @import url("/assets/css/components/entries-filter.css");
  </style>

  <div class="qui-page-installed-package">
    <div class="container">
      {% if let Some(status) = status %}
        {{ status | safe }}
      {% endif %}

      <form class="js-paths-install form" data-testid="installed-package-entries">
        <input name="uri" hidden value="{{uri.to_string()}}" />

        {% if let Some(toolbar) = toolbar %}
          {{ toolbar | safe }}
        {% endif %}

        {% if ignored_count > 0 || unmodified_count > 0 %}
        <div class="qui-entries-filter"
          data-default-unmodified="checked"
          data-default-ignored="">
          <span>Show</span>
          <label>
            <input type="checkbox" class="js-filter-unmodified" checked />
            unmodified
          </label>
          <label>
            <input type="checkbox" class="js-filter-ignored" />
            ignored
            <span class="js-filter-count">({{ ignored_count }})</span>
          </label>
        </div>
        {% endif %}

        <div class="list entries-hide-ignored">
          {% for entry in entries %}
            {{ entry | safe}}
          {% endfor %}
        </div>
      </form>
    </div>
  </div>
{% endblock %}
