{% extends "./components/layout.html" %}

{% block children %}
  <style>
    @import url("/assets/css/pages/login.css");
  </style>

  <div class="qui-page-login container">
    <div class="main">
      <p class="message">{{ login_oauth | safe }}</p>

      <hr class="divider" />

      <p class="message">{{ instructions }}</p>
      <p class="message">{{ open_catalog | safe }}</p>

      <form id="form" class="form" onsubmit="event.preventDefault();">
        <input name="host" hidden value="{{ host }}" />

        {% if let Some(back) = back %}
          <input name="back" hidden value="{{ back }}" />
        {% endif %}

        <p class="field">
          <label class="label" for="code">
            {{ t!("login.code") }}
          </label>
          <input class="input" id="code" name="code" required />
        </p>
        <button type="submit" hidden></button>
      </form>

    </div>
  </div>
{% endblock %}
