{% extends "./components/layout.html" %}

{% block breadcrumbs %} {{ breadcrumbs | safe }} {% endblock %}

{% block actions %}
  {% for action in actions %}
    <li>{{ action | safe }}</li>
  {% endfor %}
{% endblock %}

{% block children %}
  <style>
    @import url("/assets/css/pages/merge.css");
  </style>

  <div class="qui-page-merge container">
    <div class="root">
      <div class="field">
        <p class="description">
          {{ t!("merge.certify_description") }}
        </p>
        {{ certify_button | safe }}
      </div>

      <div class="field">
        <p class="description">
          {{ t!("merge.reset_description") }}
        </p>
        {{ reset_button | safe }}
      </div>
    </div>
  </div>
{% endblock %}
