{% extends "./components/layout.html" %}

{% block breadcrumbs %}{% endblock %}

{% block children %} 
  <style>
    @import url("/assets/css/pages/setup.css");
  </style>

  <div class="qui-page-setup container">
    <div class="main">
      <p class="message">
        {{ t!("setup.description") }}
      </p>


      <form id="form" class="form" onsubmit="event.preventDefault();">
        <p class="field">
          <label class="label" for="directory">
            {{ t!("setup.directory") }}
          </label>
          <input class="input" id="directory" name="directory" required readonly value="{{ home.display() }}" />
          <span class="js-hint hint"></span>
        </p>

        {{ browse | safe }}
      </form>

    </div>
  </div>
{% endblock %}
